.ico
{
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
}

.ico-15
{
  width: 15px;
  height: 15px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: baseline;
}

.ico-20
{
  width: 20px;
  height: 15px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: baseline;
}


.ico-42
{
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: top;
}

.ico-50
{
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
}

.img-medium
{
  width: 200px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
}

.img-icoinfo
{
  display: block;
  width: 60px;
  height: 35px;
  max-width: 100px;
  margin: auto;
}



.btn-usu
{
  background: $icon__user no-repeat;
}


.btn-pass
{
  background: $icon__pass no-repeat;
}

.btn-sesion
{
  background: $icon__sesion no-repeat;
}

.btn-usu-15
{
  background: $icon__user_15 no-repeat;
}


.btn-pass-15
{
  background: $icon__pass_15 no-repeat;
}

.btn-sesion-15
{
  background: $icon__sesion_15 no-repeat;
}

.img-nutresa
{
  background: $image__nutresa no-repeat;

}

.ico-actualidad
{
  background: $icon__act no-repeat;

}

.ico-contacto
{
  background: $icon__contactenos no-repeat;
}

.ico-readmore-2
{
  background: $icon__readmore no-repeat;
}

.ico-readmore
{
  background: $icon__readmore-2 no-repeat;
}


.ico-reto-1
{
  background: $icon__reto-1 no-repeat;
}

.ico-reto-2
{
  background: $icon__reto-2 no-repeat;
}

.ico-reto-3
{
  background: $icon__reto-3 no-repeat;
}

.ico-break
{
  background: $icon__break no-repeat;
}