
/*-  CSS "libraries"
----------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul, ul{
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/**************clearfix**************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/*--------------------------------------------------------------------*/

* { padding: 0; margin: 0; }

body {
    background:#F1F1F2;
    /* font-family:'FocoCorpRg', Verdana, Geneva, sans-serif;*/
    font-family:'Arial', Verdana,helvetica,sans-serif;
    font-size: 12px;
}

a{
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6{
    /*font-family: 'FocoCorpBd'; */
    font-family: 'Arial';
    font-weight: normal;
}

@font-face {
    /*font-family: 'FocoCorpBd'; */
    font-family: 'Arial';
   /* src: url('fonts/foco_corp_bd-webfont.eot');
    src: url('fonts/foco_corp_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/foco_corp_bd-webfont.woff') format('woff'),
        url('fonts/foco_corp_bd-webfont.ttf') format('truetype'),
        url('fonts/foco_corp_bd-webfont.svg#FocoCorpBold') format('svg');*/
    font-weight: bold;
    font-style: normal;

}

@font-face {
    /*font-family: 'FocoCorpRg';*/
    font-family: 'Arial';
   /* src: url('fonts/foco_corp_rg-webfont.eot');
    src: url('fonts/foco_corp_rg-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/foco_corp_rg-webfont.woff') format('woff'),
        url('fonts/foco_corp_rg-webfont.ttf') format('truetype'),
        url('fonts/foco_corp_rg-webfont.svg#FocoCorpRegular') format('svg'); */
    font-weight: normal;
    font-style: normal;

}

.centrado{
    width: 960px;
    margin: 0 auto;
}

.centrado p{
   padding-bottom: 10px;
   line-height: 20px;
   font-family: 'Arial';   
}

.centrado > ul li{
    list-style: disc outside;
    padding-left: 10px;
}


.button{
    height:27px;
    background: url(../images/button.png) no-repeat right top;
    text-align: center;
    color: #807F83;
    border:none;
    border-left:1px solid #cccbcb;
    padding: 0 17px 0 5px;
    cursor: pointer;
}

.button:hover{
    background-position: right -27px; 
}

a.button{
    line-height:29px;
    display:block;
}

#breadcrumb{
    color:#59585D;
    padding:20px 0;
}
#breadcrumb a{
    color:#59585D;
}
#breadcrumb a:hover{
    text-decoration: underline;
}

/********************** ESTILOS HEADER **********************/

#header{
    width: 100%;
    background: url(../images/bg_header.jpg) no-repeat center top;
}

#logos{
    height: 88px;
}

#logos h1{
    width: 168px;
    height: 68px;
    background: url(../images/logo_nutresa.jpg) no-repeat;
    float: left;
}

#logos h1 a{
    width: 100%;
    height: 100%;
    font-size:0px;
    display:block;
}

#logos img{
    float: right;
}

#nav{
    height: 38px;
    /*font-family: 'FocoCorpBd';*/
    font-family: 'Arial';
}

#nav a{
    height:auto;
    display:block;
    font-size:14px;
    color:#FFFFFF;
    line-height:40px;
    padding: 0 5px;
    text-shadow: 0px 1px 1px #00678c;
    /*filter: dropshadow(color=#00678c, offx=0, offy=1);*/
}

#nav ul{
    text-align:center;
    float: left;
}

#nav div.language ul {
    text-align:center;
    float: right;
    height: 38px;
    text-indent: 6px;
}
#nav ul li{
    height:38px;
    padding: 0 2px;
    float: left;
    position: relative\9;
}


/*---- submenu ----*/
#nav ul li:hover ul{
    display:block;
}

#nav ul li ul{
    background: #807f83; 
    border:1px solid #807f83;
    position: absolute;
    display: none;
    width: auto; /*Tamaño de la pestañas*/
    text-align: left;
}
#nav ul li ul li{
    text-align:left;
    float:none;
    white-space: nowrap;
}

#nav ul li a.mainlevel{
    text-align: left;
}

/*---- submenu ----*/

#nav ul li a.mainlevel:hover, #nav ul li a#active_menu, #nav ul li ul li a:hover{
    background: url(../images/active_menu.jpg) repeat-x;
}

#nav .espanol, #nav .ingles{
    height:38px;
    text-indent:18px;
    float:right;
    padding-right: 10px;
}

#nav .espanol:hover, #nav .ingles:hover{
    text-decoration: underline;
}

#nav .espanol{
    background: url(../images/flag_es.jpg) no-repeat 0 13px;
}

#nav .ingles{
    background: url(../images/flag_en.jpg) no-repeat 0 13px;
}

#mainlevel-nav{
    height: 23px;
}

#mainlevel-nav li{
    border-right:1px solid #59585D;
    float: left;
}

#mainlevel-nav li a{
    line-height:23px;
    color:#59585D;
    padding: 0 7px;
}

#mainlevel-nav li a:hover{
    color:#FFFFFF;
}

#sesion_cont{
    width: 100%;
    height: 74px;
}

.sesion{
    width: 50%;
    float: left;
    padding-top: 20px;
}

.sesion p{
    /*font-family: 'FocoCorpBd';*/
    font-family: 'Arial';
    font-size:16px;
    color:#9A4D9E;
    line-height:20px;
    margin-right:0px;
    float:left;
}

.reg_txt{
    width: 450px;
}

#reg_btn{
    float: left;
}

.sesion input[type=text]{
    width: 117px;
    height: 24px;
    background: #E6E7E8;
    text-align:center;
    color:#C0C0C2;
    border:1px solid #D2D2D2;
    margin:0 7px;
}

.sesion input[type=password]{
    width: 117px;
    height: 24px;
    background: #E6E7E8;
    text-align:center;
    color:#C0C0C2;
    border:1px solid #D2D2D2;
    margin:0 7px;
}

a.password{
    color:#59585D;
    line-height: 30px;
    margin-left: 172px;
}

a.password:hover{
    text-decoration: underline;
}


/********************** ESTILOS FOOTER **********************/

#footer{
    width: 100%;
    height:261px;
    background: url(../images/bg_footer.jpg) no-repeat center bottom;
    text-align: center;
}

#footer p{
    color:#FFFFFF;
    font-size:11px;
    padding-top: 55px;
}

#carrusel{
    text-align: center;
}

#carrusel ul li{
    border-right:1px solid #59585D;
    display: inline-block;
    vertical-align: top; /* BASELINE CORRECCION*/
    zoom: 1; /* IE7 (hasLayout)*/
    *display: inline; /* IE */
}

#carrusel ul li:last-child{
    border-right:none;
}

#carrusel ul li a{
    height:51px;
    font-size: 15px;
    color:#807F83;
    line-height: 50px;
    display: block;
    padding: 0 20px;
}

#carrusel ul li a:hover, #carrusel ul li a#active{
    color:#06579F;
}

#carrusel ul li a:active, #carrusel ul li a#active{
    background: url(../images/carrusel_ind.png) no-repeat center bottom;
}

/********************** ESTILOS CONTENIDO **********************/

#contenido_lineas{
    background: url(../images/bg_contenido.jpg) repeat-y center top;
    width: 100%;
}

#contenido{
    background:#F1F1F2;
    width: 100%;
}
/********************** ESTILOS BUSCADOR **********************/

#buscador{
    width: 320px;
    padding-top:50px;
    float: right;
}

.search{
    background: #F9F9F9;
}

.search_internas{
    background:#F1F1F2;
    padding-top:0 !important;
}

#buscador .linea_punteada{
    width:265px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #9C9C9C;
}

#buscador h3{
    color: #59585D;
    font-size: 20px;
}

#buscador p{
    color:#06579F;
    font-size: 13px;
    padding: 5px 0;
}

#buscador span{
    color:#59585D;
}

#buscador input[type=text]{
    width: 205px;
    height: 23px;
    background: #FFFFFF;
    border:1px solid #D2D2D2;
}

#buscador input[type=submit]{
    height:22px;
    background: url(../images/input_btn.jpg) repeat-x;
    color:#FFFFFF;
    border:none;
    padding: 0 7px;
    width:45px\9;
    font-size: 10px\9;
}

#buscador input[type=checkbox], #buscador #areas, #buscador #fecha, #buscador #rss{
    margin: 5px 0;
}

#buscador #areas, #buscador #fecha{
    height: 23px;
    background: #FFFFFF;
    border:1px solid #D2D2D2;
}

#buscador #areas{
    width: 260px;
}

#buscador #fecha{
    width: 130px;
}

#buscador #rss{
    height:22px;
    background: url(../images/rss.png) no-repeat left top;
    color:#59585D;
    line-height: 22px;
    text-indent: 25px;
    display:block;
}

#buscador #rss:hover{
    text-decoration: underline;
}

/********************** ESTILOS ULTIMOS RETOS **********************/

#ultimos_retos{
    width: 611px;
    background:url(../images/sombra_retos.png) repeat-y right top;
    padding-right: 8px;
    float: left;
}

#titulo_retos{
    height: 55px;
    background: url(../images/bg_titulo_retos.jpg) repeat-x;
}

#titulo_retos h3{
    width:130px;
    color: #59585D;
    font-size: 20px;
    float:left;
    padding:16px 20px 0 30px;
}

#titulo_retos form{
    width:259px;
    color:#59585D;
    padding-top: 15px;
    float:left;
}

#titulo_retos select{
    height: 23px;
    background: #FFFFFF;
    border:1px solid #D2D2D2;
}

#titulo_retos p{
    width:110px;
    height: 40px;
    color: #59585D;
    line-height:55px;
    text-align:center;
    border-left:1px solid #A1A1A2;
    float:left;
    padding-left:20px;
    margin-left: 20px; 
}

#retos{
    height: 270px;
    background: #9ACB3B;
    padding-bottom:20px;
    overflow: auto;
    width:100%;
}

.reto{
    height: 78px;
    padding: 15px 0 0 29px;
}

.reto img, .reto p{
    float: left;
}

.reto img{
    border:1px solid #848484;
}

.reto p{
    width: 440px;
    height:45px;
    color:#003A00;
    border-bottom:1px dashed #FFFFFF;
    margin-left:15px;
    padding:0 30px 10px 0;
    overflow: hidden;
}

.reto p a{
    color:#003A00;
}

.reto p a:hover{
    text-decoration: underline;
}

.reto p b{
    font-size:14px;
    line-height: 20px;
}

#cont_lista_retos #lista_retos .reto{
    height: auto;
}

/********************** ESTILOS TABS **********************/

#tabs{
    width: 938px;
    background:url(../images/bg_tabs.jpg) repeat-x top, url(../images/bg_tabs1.jpg) repeat-x bottom;
    background-color:#D6D6D8;
    padding: 27px 11px;
    *float: left;
    margin-top: 10px\9;
}

#tabs h3{
    width: 100%;
    height: 36px;
    background:#9A4D9E;
    color:#FFFFFF;
    font-size: 23px;
    line-height: 36px;
    text-indent: 13px;
}

#tabs ul{
    height:24px;
    background: #FF9200;
    text-align: center;
    font-size:13px;
    line-height: 24px;
}

#tabs ul li{
    float: left;
    position: relative;
}

#tabs ul li a{
    width: 80px;
    color:#FFFFFF;
    display:block;
    padding: 0 10px;
}

#tabs ul li a:hover, #tabs ul a.active_tab{
    background: #9A4D9E;
}

#tabs ul a.active_tab:before, #tabs ul li.active_tab:after{
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: -7px;
    left:0;
    border-top: 8px solid #9A4D9E;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 0;
}

#tabs_cont{
    padding-top:20px;
}

.novedad{
    width: 455px;
    float:left;
    margin-right: 8px;
    border-bottom: 1px dashed #9C9C9C;
    padding-bottom: 10px;
}


.novedad img{
    border:1px solid #848484;
}


.novedad p {
    width: 324px;
    height: 100%;
    color: #59585D;
    line-height: 16px;
    margin-left: 5px;
    overflow: hidden;
    padding: 4px;
    text-align: justify;
    min-height: 60px;
}

.novedad .readmore {
    padding: 4px;
    margin-left: 5px;
    font-size: 14px;
    color: #9A4D9E;
}

.novedad .readmore:HOVER {
    color: #B779BA;
}

/********************** ESTILOS RETOS **********************/

#cont_lista_retos{
	width: 611px;
	padding:0 8px 30px 0;
	float: left;
}
#lista_retos{
	width: 611px;
	height:485px;
	overflow: auto;
}

#lista_retos .reto{
	padding-top:0;
}

#lista_retos .reto div{
	width: 430px;
	min-height:114px;
	border-bottom:1px dashed #9C9C9C;
	float:left;
}

#lista_retos .reto img{
	margin-top: 30px;
}

#lista_retos .reto p{
	width:330px;
	min-height:114px;
	color:#58595B;
	line-height:1.4em;
	border:none;
	padding: 15px 9px 0 0 ;
}

#lista_retos .reto p span{
	font-size: 11px;
}

#lista_retos .reto p a b{
	line-height: normal;
}

#lista_retos .reto p.participantes{
    width:135px;
    min-height:114px;
    background:#FF9200 url(../images/bg_participantes.jpg) no-repeat 50% 26%;
    color:#ffffff;
    text-align:center;
    font-weight:bold;
    line-height:170px;
    font-size:15px;
    border-color: #9C9C9C;
    padding-left: 0;
    padding-right: 0;
    margin:0;
}

#paginador_retos{
    width: 100%;
    height: 30px;
    background: #D2D2D2;
    text-align: center;
}

#paginador_retos ul{
    padding-top: 9px;
}

#paginador_retos ul li{
    line-height:15px;
    display:inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    _height: 30px;
    padding: 0 3px;
}

#paginador_retos ul li#pag_ant, #paginador_retos ul li#pag_sig{
    width: 15px;
    height: 15px;
}

#paginador_retos ul li#pag_ant a, #paginador_retos ul li#pag_sig a{
    width: 100%;
    height: 100%;
    display:block;
    font-size: 0;
}

#paginador_retos ul li#pag_ant a{
    background: url(../images/pag_ant.png) no-repeat;
}

#paginador_retos ul li#pag_sig a{
    background: url(../images/pag_sig.png) no-repeat;
}

#paginador_retos ul li#current a{
    color:#FF9200;
}

#paginador_retos ul li a{
    color:#59585D;
}

#paginador_retos ul li a:hover{
    text-decoration: underline;
}

.filters.btn-toolbar {
    margin: 30px 10px;
}

.btn-group.pull-right #limit {
    margin-left: 15px;
}

.content-category .table {
    width: 60em;
    margin: 5em 0;
}

.content-category .table tr th {
    padding: 12px;
    color: #fff;
    background-color: rgb(154, 77, 158);
}

.content-category .table tr th a {
    color: #fff;
    font-weight: normal;
    text-rendering: optimizelegibility;
    font-size: 14px;
}

.content-category .table tr td {
    padding: 12px 5px;
    border-bottom: 2px solid #fff;
    color: #669;
}

.content-category .table tr:HOVER td {
    background: #fff;
}

.content-category .pagination ul li a:visited {
    color: #9A4D9E;
}

.content-category .pagination ul {
    color: #669;
}

.content-category .pagination ul li {
    display: inline;
    margin-right: 12px;
}

.content-category .pagination ul li .pagenav {
    padding: 5px !important;

}

.content-category .pagination ul li a {
    color: #669;
}


.content-category .pagination ul li a:visited, .content-category .pagination ul li a:hover {
    color: #4A4A72;
}

.content-category .pagination ul li span.pagenav {
    border: 1px solid #000;
}

.content-category .pagination ul .pagination-start span,
.content-category .pagination ul .pagination-prev span,
.content-category .pagination ul .pagination-next span,
.content-category .pagination ul .pagination-end span {
    border: none !important;
}


.content-category .pagination ul li span.pagenav {
    border: 1px solid #000;
}
.content-category .pagination ul .pagination-start span, .content-category .pagination ul .pagination-prev span , .content-category .pagination ul .pagination-next span , .content-category .pagination ul .pagination-end span {
    border: none !important;
}

/********************** ESTILOS RETOS PROF **********************/

#cont_reto_prof{
    width: 611px;
    padding:0 8px 30px 0;
    float: left;
}

.titulo_reto{
    width: 400px !important;
}

#cont_reto_prof #titulo_retos a{
    width: 62px;
    margin: 13px;
    float: right;
}

#cont_reto_prof img{
    float: left;
    margin: 30px 20px 10px 0;
}

#cont_reto_prof p{
    margin-top: 30px;
    font-size: 12px;
    color:#3D3C42;
    line-height: 17px;
    text-align: justify;
}

/*********************************AJUSTE EN EL EDITOR********************************************/
#cont_reto_detalle{
    width: 611px;
    padding:0 8px 30px 0;
    float: left;
}

.titulo_reto{
    width: 400px !important;
}

#cont_reto_detalle #titulo_retos a{
    width: 62px;
    margin: 13px;
    float: right;
}

#cont_reto_detalle img{
    /* float: left; */ 
    margin: 30px 20px 10px 0;
}

#cont_reto_detalle p{
   
    font-size: 12px;
    color:#3D3C42;
    line-height: 17px;
    text-align: justify;
}

#cont_reto_detalle ul li{
   margin-left: 40px;
   list-style-type: disc;
   list-style-position: outside;
   color:#3D3C42;
   line-height:17px;
   font-family: 'Arial';
}

#cont_reto_detalle ol li{
   margin-left: 42px;
   list-style-position: outside;
   color:#3D3C42;
   line-height:17px;
   font-family: 'Arial';
}
/*****************************************************************************/

/********************/

#cont_reto_prof2{
    width: 950px;
    padding:0 8px 30px 0;
    float: left;
    text-align: justify;
}

.titulo_reto{
    width: 400px !important;
}

#cont_reto_prof2 #titulo_retos a{
    width: 62px;
    margin: 13px;
    float: right;
}

#cont_reto_prof2 > img{
    text-align: center;
    margin: 0 auto;
    display: block;
}

#cont_reto_prof2 p{
    margin-top: 30px;
    font-size: 12px;
    color:#3D3C42;
    line-height: 17px;
    text-align: justify;
}

/********************/

#btns_reto_prof{
    text-align:center;
    border-top:1px dashed #9C9C9C;
    margin-top: 20px;
    padding-top: 20px;
}

#btns_reto_prof a{
    width: 155px;
    display:inline-block;
    vertical-align: top;
    zoom: 1;
     *display: inline;
    margin: 0 10px;
}

/************************  ESTILOS ACEPTAR SOLUCION **********************/
#aceptarSolucion {
    width:600px;
    background: #DBDBDB;
    border: 1px solid #A6A8AB;
    margin-top: 20px;
    float: right;
}

#aceptarSolucion h4{
    width: 580px;
    background: #9A4D9E;
    color:#FFFFFF;
    padding: 10px;
    font-size: 12px;
    
}

#aceptarSolucion h5{
    width: 534px;
    background-color: #FF9200;
    color:#FFECD3;
    padding: 7px;
}
#aceptarSolucion .cont_campos{
    margin: 5px 0;
}

#aceptarSolucion form{
    padding: 10px 25px;
    text-align: justify;
    color: #3D3C42;
    font-size: 12px;
}

#aceptarSolucion  p{
    text-align: justify;
    color:#404041;
    padding: 10px 0;
    font-size: 12px;
}




#aceptarSolucion .cont_campos input{
    width: 233px;
    height: 27px;
    font-family: 'Arial';
    background:#FFFFFF;
    border: 1px solid #85888B;
}



#aceptarSolucion #acepto input[type="button"]{
    height:22px;
    background: url(../images/input_btn.jpg) repeat-x;
    color:#FFFFFF;
    border:none;
    padding: 0 7px;
    width:auto;
    font-size: 10px\9;
    margin: 10px 0;
}

#aceptarSolucion #acepto{
    width: 100px;
    color:#59585D;
    text-align:center;
    margin: 10px auto;
}


/********************** ESTILOS CREAR SOLUCION **********************/

#cont_crear_solucion{
    width: 611px;
    padding:0 8px 30px 0;
    float: left;
}

#cont_crear_solucion #titulo_retos a{
    width: 62px;
    margin: 13px;
    float: right;
}

#crear_solucion {
    width:600px;
    background: #DBDBDB;
    border: 1px solid #A6A8AB;
    margin-top: 20px;
    float: right;
}

#crear_solucion h4 {
    width: 580px;
    background: #9A4D9E;
    color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    text-rendering: optimizelegibility;
}

#crear_solucion h5{
    width: 534px;
    background-color: #FF9200;
    color:#FFECD3;
    padding: 7px;
}

#crear_solucion h5#compartida {
    background: #FF9200 url(../images/ico_crear_1.png) no-repeat right top;
    width: 99%;
    padding: 10px 0px 10px 7px;
    font-size: 14px;
    text-rendering: optimizelegibility;
}

#crear_solucion h5#interno{
    background:#FF9200 url(../images/ico_crear_2.png) no-repeat right top;
}

#crear_solucion h5#terminos{
    background:#FF9200 url(../images/ico_crear_3.png) no-repeat right top;
}

#crear_solucion .cont_campos{
    margin: 5px 0;
}

#crear_solucion form{
    padding: 10px 25px;
    text-align: justify;
    color: #3D3C42;
    font-size: 12px;
}

#crear_solucion  p{
    text-align: justify;
    color:#404041;
    padding: 10px 0;
    font-size: 12px;
}



#crear_solucion .cont_campos label{
    width: 128px;
    height:27px;
    /*font-family: 'FocoCorpBd';*/
    font-family: 'Arial';
    color:#59585D;
    line-height:30px;
    display:inline-block;
    vertical-align: top; /* BASELINE CORRECCIÓN*/
    zoom: 1; /* IE7 (hasLayout)*/
    *display: inline; /* IE */
    _height: 27px; /* IE6 */
}

#crear_solucion .cont_campos input{
    width: 233px;
    height: 27px;
    font-family: 'Arial';
    background:#FFFFFF;
    border: 1px solid #85888B;
}

#crear_solucion .cont_campos input[type="file"]{
    background:none;
    border:none;
    vertical-align: middle;
}

#crear_solucion #acepto input[type="button"]{
    height:22px;
    background: url(../images/input_btn.jpg) repeat-x;
    color:#FFFFFF;
    border:none;
    padding: 0 7px;
    width:auto;
    font-size: 10px\9;
    margin: 10px 0;
}

#crear_solucion #acepto input[type="submit"]{
    height:22px;
    background: url(../images/input_btn.jpg) repeat-x;
    color:#FFFFFF;
    border:none;
    padding: 0 7px;
    width:100px\9;
    font-size: 10px\9;
    margin: 10px 0;
}



#crear_solucion #acepto{
    width: 100px;
    color:#59585D;
    text-align:center;
    margin: 10px auto;
}

#crear_solucion #anexos input[type="button"]{
    height:22px;
    background: url(../images/input_btn.jpg) repeat-x;
    color:#FFFFFF;
    border:none;
    padding: 0 7px;
    width:100px\9;
    font-size: 10px\9;
    margin: 10px 0;
}

#crear_solucion #anexos{
    width: 100px;
    color:#59585D;
    text-align:center;
    margin: 10px auto;
}

#crear_solucion .cont_campos input#titulo_solucion{
    width: 175px;
}

#crear_solucion .cont_campos select#estado{
    width:100px;
}

#crear_solucion .cont_campos select{
    width:175px;
    height: 27px;
    margin-right: 4px;
}

#crear_solucion .cont_campos textarea{
    width: 416px;
    height: 65px;
    font-family: 'Arial';
    font-size: 12px;
}

.mi_perfil_table td {
    text-align: center-right;
    padding-bottom:12px;
    padding-left:40px;
}

.titulo_miperfil{
    margin-left: 240px; 
    margin-bottom: 20px;
}

.boton_contactenos{
    height:22px;
    background: url(../images/input_btn.jpg) repeat-x;
    color:white;
    border:none;
    padding: 0 7px;
    width:100px\9;
    font-size: 10px\9;
    margin: 10px 0;
    text-align:center;
}

.form-image-perfil{
    margin-left: 0px;
    margin-top: 0px;
    width: 500px;
    height: 10px;
    
}

#tablearticulo, #tablearticulo td {
    border: 1px solid silver;
    padding: 10px;
    /* background-color: white; */
    font-size: 13px;
    font-family: fantasy;
}

#background-contac
{
	font-family: 'Arial';
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	/*background: url('../images/blurry.jpg') 300px 29px no-repeat;*/
        background-color: white;
}
#background-contac th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #9A4D9E;
}
#background-contac th a
{
	color: white;
}
#background-contac td
{
	padding: 9px 12px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-contac tfoot td
{
	font-size: 11px;
}
#background-contac tbody td
{
	background: url('../images/back.png');
}
* html #background-contac tbody td
{
	/* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back.png',sizingMethod='crop');
	background: none;
}	
#background-contac tbody tr:hover td
{
	color: #9A4D9E;
	background: none;
}

.enlaceazul{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-attachment:scroll;
background-color:transparent;
background-image:url(../images/input_btn.jpg);
background-position:0 0;
background-repeat:repeat-x;
border-bottom-color:-moz-use-text-color;
border-bottom-style:none;
border-bottom-width:medium;
border-left-color-ltr-source:physical;
border-left-color-rtl-source:physical;
border-left-color-value:-moz-use-text-color;
border-left-style-ltr-source:physical;
border-left-style-rtl-source:physical;
border-left-style-value:none;
border-left-width-ltr-source:physical;
border-left-width-rtl-source:physical;
border-left-width-value:medium;
border-right-color-ltr-source:physical;
border-right-color-rtl-source:physical;
border-right-color-value:-moz-use-text-color;
border-right-style-ltr-source:physical;
border-right-style-rtl-source:physical;
border-right-style-value:none;
border-right-width-ltr-source:physical;
border-right-width-rtl-source:physical;
border-right-width-value:medium;
border-top-color:-moz-use-text-color;
border-top-style:none;
border-top-width:medium;
color:#FFFFFF;
height:22px;
margin-bottom:10px;
margin-left:5px;
margin-right:5px;
margin-top:10px;
padding-bottom:10px;
padding-left:7px;
padding-right:7px;
padding-top:0;
width:auto;
vertical-align:middle;
-moz-appearance:button;
-moz-binding:none;
-moz-box-sizing:border-box;
-moz-user-select:none;
-x-system-font:-moz-button;
cursor:default;
}