#customers
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#customers td, #customers th 
{
    font-size:1em;
    border:1px solid #50B847;
    padding:3px 7px 2px 7px;
    border-left-style: none;
    border-top-style: none;
    /*border-bottom-style: none;*/

}
#customers th 
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#50B847;
    color:#ffffff;

}
#customers tr.alt td 
{
    color:#000000;
    background-color:#F5F5F5;

}

.column{
    border: black 1px dashed; 
    border-color:#BDBDBD;
    border-right-style: none;
    padding-left: 10px;

}
.column2{
    border: black 1px dashed; 
    border-color:#BDBDBD;
    border-top-style: none; 
    border-right-style: none;
    line-height:30px;

}
.column3{
    border: black 1px dashed; 
    border-color:#BDBDBD;
    border-top-style: none; 
    line-height:30px;
}
.column4{
    border: black 1px dashed; 
    border-color:#BDBDBD;
    padding-left: 10px; 
    padding-right: 5px;


}
.letra{
    font-size: 23px;
    color:#A4A4A4;
    font-family:"Arial";
}

/*Cabecera verde*/
.cabecera{
    
    background: url(../images/cab_personassintexto4.jpg) no-repeat; 
    height: 52px;
    width: 958px;
}
/*Texto cabecera*/
.textcab { 
    font-size: 24px;
    font-family:Arial;
    color: white; 
    padding: 30px 100px;

}
/*Boton verde*/
.boton{
    background: url(../images/reportesintexto.jpg); 
    height: 55px;
    width: 185px; 
}
/*Texto boton verde*/
.textbot{
    font-size: 24px;
    font-family:Arial;
    color: white; 
    padding: 15px 25px;
}
/*Estilo titulos azules tabla*/
.titulos{
    font-size: 20px;
    color: #0099FF;
    font-family: Arial;
}
/*Estilo botones verdes*/
.boton1{
    padding: 10px 10px 10px !important;
    font-size: 16px !important;
    background-color: #50B847;
    font-weight: bold;
    width: 150px;
    color: #ffffff;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #50B847;
    cursor: pointer;
}
.boton1:hover{
    background-color: #52CA47;
    border-bottom: 1px ridge Lime;
    border-bottom: #52CA47 1px solid;
}

/*Estilo agregado Checkbox red*/
.custom-checkbox{
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url("../images/check_red.png") no-repeat;
}
.custom-checkbox:hover{
    background: url("../images/checkbox_hover1.png") no-repeat;
}
.custom-checkbox.selected{
    background: url("../images/checkbox_red_selected.png") no-repeat;
}
.custom-checkbox input[type="checkbox"]{
    margin: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

.lbl{
    display: block;
    padding-right:  5px;
    color:#A4A4A4;
    font-family:"Arial";
    font-size:19px;

}
/*Estilo Checkbox blue*/
.custom-checkboxBlue{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    left: 5px;
    background: url("../images/check_blue2.png") no-repeat;
}

.custom-checkboxBlue.selected{
    background: url("../images/check_selected_blue2.png") no-repeat;
}

.custom-checkboxBlue input[type="checkbox"]{
    margin: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}


#cab_table1{ 
    position: relative;
    padding-left: 400px;
    background-color: #87C137;
    font-weight:bold;
    color: white;
    border-right-style: none;
}

#cab_table2{ 
    background: url(../images/td2_cab_table.jpg) no-repeat;
    font-weight:bold;
    color: white;
    border-right-style: none;
    border-top-style: none;
    background-color: #4BB642;

}
#cab_table3{ 
    background: url(../images/td3_cab_table.jpg) no-repeat;
    font-weight:bold;
    font-size:12px;
    color: white;
    border-right-style: none;
    border-top-style: none;
    background-color: #3C9134;
}
#cab_table4{ 
    background: url(../images/td4_cab_table.jpg) no-repeat;
    font-weight:bold;
    font-size:12px;
    color: white;
    border-right-style: none;
    border-top-style: none;
    background-color: #005F20;
}

.fondo_left{
    display: inline-block;
    background-image: url(../images/fondo_left.png);
    padding-left: 30px;
     
}

.text_menu{
    position: relative;
    padding-left: 50px;
    top: 15px;
    font-size: 22px;
    color:white;
    font-family:"Arial";
    text-decoration: none;
    
}

#imgdiv{
   background-image: url(../images/opcion_participantes2.png) ; 
   width:587px;  
   height:54px; 
}

#imgdiv2{
   background-image: url(../images/opcion_personas2.png) ; 
   width:587px;  
   height:54px; 
}

.divmenu{

    width:587px;  
   height:54px;
}

.divmenu:hover{
    cursor: pointer;
}
