#main-menu
{
  min-height: 35px;
  .nav
  {
    border-right: 1px solid $color-border-header;
  }

  @include main-menu;
}

#menu-rol
{
  @include menu-inverse;

  margin-bottom: 0;
}

#menu-footer
{
  background-color: $color__background-footer;
  border: none;

  ul li a
  {
    color: $color__link-inverse;
  }

  ul li a:hover
  {
    color: $color__link;
  }
}


/*** MEDIA ***/

#main-menu
{
  .nav
  {
    @media screen and (min-width: $screen-sm-min)
    {
      float: none;
      margin: 0 auto;
      display: table;
      table-layout: fixed;
    }
  }

}



#menu-rol
{
  min-height: 35px;
  .nav
  {
    @media screen and (min-width: $screen-sm-min)
    {
      @include centrador(700px);
    }
  }

  div>a,
  div>ul li a,
  div>button
  {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    height: 40px;
  }
}
