.button-bar
{
  .btn, .btn-readmore, .btn-readmore-inverse
  {
    display: table-cell;
  }

}

.btn-readmore, .btn-readmore:visited
{

 @extend .font-primary-medium;
  width: 150px;
  height: 30px;
  margin: 5px;
  font-size: $font__size-contextual;
  color: $color__primary;
  border: none;

  @include simple-bordeador( $color__primary, $color__background-button-secondary, false);

}

.btn-readmore
{
  .ico-readmore
  {
    padding: 0px 10px;
    height: 10px;
  }
}

.btn-readmore:hover
{
  .ico-readmore
  {
    padding: 0px 10px;
    height: 10px;
    background: $icon__readmore-2 no-repeat !important;
  }

}



.btn-readmore-inverse, .btn-readmore-inverse:visited
{

  @extend .font-primary-normal;

  width: 150px;
  height: 30px;
  margin: 5px;
  color: $color__text-contextual-primary;
  border-color: $color__link-inverse;
  @include simple-bordeador($color__primary, $color__background-button-secondary, false);


}

.btn-readmore-inverse
{
  .ico-readmore
  {
    height: 10px;
    background: $icon__readmore-2 no-repeat !important;
  }
}

.btn-readmore-inverse:hover
{
  .ico-readmore-2
  {
    padding: 0 10px;
    height: 14px;
    background: $icon__readmore no-repeat !important;
  }

}


.form-ppal-control
{
  input[type="submit"], button
  {
    font-size: $font__size-small;
    background-color: $color__primary;
    color: $color__text-contextual-primary;
    border: none;
    box-shadow: none;
  }

  a
  {
    padding: 2px 2px;
    color: $color__text-contextual-primary;
  }
}

.button-area
{

  width: 100%;
  height: 60px;
  margin-top: 30px;

  .simple-button
  {
    @extend .font-primary-medium;

    font-size: $font__size-contextual;
    height: 30px;
    width: 150px;
    margin-right: 5px;
    border: none;
    @include simple-bordeador($color__primary, $color__background-button-secondary, false);

    span
    {
      width: 100px;
      margin: auto;
    }
  }
}

.article-component form
{
  .control-group
  {
    margin-top: 20px;


    .controls
    {
     input[type="submit"], input[type="button"], .button-area .btn
     {
       @extend .font-primary-medium;
       width: 150px;
       height: 30px;
       margin: 5px;
       border: 1px solid $color__primary;
       color: $color__link;
       background-color: $color__link-inverse;

       @include simple-bordeador($color__background-button-secondary, $color__primary, false);
     }
    }
  }

}

#contact-form
{
   fieldset, .control-group , .controls
    {
      input[type="submit"], input[type="button"], button
      {
        @extend .font-primary-medium ;
        width: 150px;
        height: 30px;
        margin: 5px;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid $color__primary;
        color: $color__link;
        background-color: $color__link-inverse;

        @include simple-bordeador( $color__primary,$color__background-button-secondary, false);
      }
    }
}



/** ---------- Media --------*/

.btn-readmore-inverse, .btn-readmore-inverse:visited
{

    @media screen and (min-width: 1000px ) and ( max-width: 1100px)
    {
      width: 125px;
      margin: 0;

      &:hover
      {
        width: 125px;
        margin: 0;

      }
    }
}





