
.form-ppal
{
  input, optgroup, select, textarea
  {
    font-size: $font__size-small !important;
    background-color: $color__primary;
    color: $color__text-contextual-primary;
    margin-right: 20px;
    @extend .font-primary-light;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
  }



  input[type="text"], input[type="password"], input[type="date"]
  {
    border: none;
    border-bottom: 1px solid white;
  }

  input[type="submit"]
  {
  box-shadow: none;
  }

  @include placeholder($color__text-contextual-primary)


}

.logout
{
  text-align: right;

  .userdata #form-login-submit .form-control
  {
    margin: 0;
    padding: 0;
    width: 104px;
    font-size: $font__size-small !important;
    box-shadow: none;
  }

}

.span-align
{
  display: inline-block;
  padding: 10px 0;
}

/** Form labels a la izquierda **/
.form-horizontal .control-label
{
  text-align: left;  
}

/*** FORM del component ***/
.article-component form
{
  .control-group
  {
    margin-top: 20px;

    .controls
    {
      input, optgroup, select, textarea
      {
        width: 100%;
      }
    }
  }

}





