@import "buttons";

@import "fields";

#user-area
{
  @media screen and (min-width: $screen-sm-min)
  {
    margin-bottom: 10px !important;
  }
}


#user-area
{
  padding: 10px;
  background-color: $color__primary;
  border-bottom: 3px solid $color__border-button;
  margin-bottom: 0;

  #login-form
  {

     @extend  .form-ppal;
     @extend .form-ppal-control;
    .text-icon-aling
    {
      @extend .span-align;
      font-size: $font__size-small;
      color: $color__text-contextual-primary;
      margin: 0;
    }

  }


}

.form-right
{
  @include alineador(right);
}



.logout .userdata #form-login-submit .form-control
{
    width: 104px;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    text-align: left;
}


.logout .userdata #form-login-username
{
    .text-icon-aling
    {
      width: 104px;
      text-align: left;
      max-width: 100px;
    }
}

/*** FORMS del component ***/
.article-component form
{
  width: 85%;
  margin: auto;
  font-size: $font__size-contextual;

  .block
  {
    margin-top: 4em;
  }

  .block-reg
  {
    padding: 10px 0;
    border-bottom: 1px solid $color__background-hr;
    margin-bottom: 20px;
  }


    #capaAnexo.none
    {
      display: none;
    }





}

.article-component #solucionFrm
{
  width: 100%;
}


/** FORM del contacto **/
.contact
{
  dl, h3
  {
    text-align: center;
    color: $color__link;
  }

  .contact-form
  {

    fieldset
    {
      legend
      {
        padding: 0 0 3em 0;
      }

      .control-group
      {
        margin-bottom: 10px;
      }
    }

  }
}

/** Component Usuario **/
.formBuscar
{
  margin-bottom: 3em;
}


.ui-helper-hidden-accessible
{
 display: none !important;
}



/** Esto es para forzarlo a dar un tamaño en todos los navegadores
*
**/
/** MEDIA **/

.userdata
{

  @media screen and (min-width: $screen-sm-min )
  {
    text-align: right;
  }

}

.userdata  .form-group
{

  @media screen and (min-width: $screen-sm-min )
  {
    text-align: left;
  }

}

.logout .userdata #form-login-submit
{

  @media screen and (min-width: $screen-sm-min )
  {
    width: auto;
    margin-left: 15px;
  }

}

.logout .userdata #form-login-username
{
  @media screen and (min-width: $screen-sm-min )
  {
    .text-icon-aling
    {
      @extend .span-align;
      color: $color__text-contextual-primary;
      margin: 0px 10px 0px 5px;
      width: auto;
      max-width: 100px;

    }
  }
}



