

@mixin alineador($dir)
{
	float: $dir;
	position: relative;
}

@mixin bordeador($len, $primary, $colorb, $secundary)
{
	position: absolute;
	-webkit-border-radius: $len;
	-moz-border-radius: $len;
	border-radius: $len;

	&::before,
	&::after {
		content: '';
		z-index: -1;
		border-radius: inherit;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}

	&::before {
		border: 2px solid $colorb;
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}


	&::after {
		background: $primary;
	}

	&:hover
	{
		background-color: $secundary;
		color: $primary;
	}

	&:hover::before {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	&:hover::after {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}

}

@mixin simple-bordeador($color,  $secondary, $effect)
{

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-color: $color;
	color: $color__text-input;

	@if $effect
	{
		transition: width 0.5s, height 0.5s;
		-webkit-transition: width 0.5s, height 0.5s;
		-moz-transition: width 0.5s, height 0.5s;
		-o-transition: width 0.5s, height 0.5s;
	}

	&:hover,
	&:focus
	{
		@if $effect
		{
			width: 160px;
			height: 35px;
		}

		background-color: $secondary;
		color: $color__text-input;
		outline: 0px;
	}

}

@mixin centrador($w)
{
	display: block;
	float: none;
	width: $w;
	margin: auto;

}


@mixin main-menu()
{
	@extend  .font-primary-light;
	background-color: $color__background-screen;
	margin-bottom: 0;
	border: none;
	border-top: 1px solid $color-border-header;

		div> ul li
		{
			border-left: 1px solid $color-border-header;
		}
		div>a,
		div>ul li a,
		div>button
		{
			padding-top: 11px !important;
			padding-bottom: 11px !important;
			background-color: $color__background-screen;
			color: $color__text-main;
			border-color: transparent;
			border-bottom: 3px solid transparent;
			height: 40px;
		}

		div>.current a,
		div>ul .current a,
		div>a:hover,
		div>ul li a:hover,
		div>button:hover
		{
			color: $color__link-hover-menu;
			border-bottom: 3px solid $color__secondary;
		}

		.icon-bar
		{
			color: $color__primary;
		}

		.icon-bar:hover
		{
				background-color: $color__background-button;
		}
}


@mixin menu-inverse()
{
	@extend .font-primary-light;
	background-color: $color__primary;

		div>a,
		div>ul li a,
		div>button
		{
			color: $color__link-inverse;
			background-color: $color__primary;
		}

		div>a:hover,
		div>ul li a:hover,
		div>button:hover
		{
			color: 	$color__link-hover-inverse;
		}
}

@mixin menu-footer()
{
	list-style: none;

	li
	{
		display: inline;
		float: right;
		a
		{
			color: $color__link-inverse;
			font-size: $font__size-contextual;
			vertical-align: top;
			display: inline-block;


		}

		a:visited
		{
			color: $color__link-visited;

		}

		a:hover , a:focus
		{
			color: $color__link-hover;
			text-decoration: none;
			outline: 0;
		}
	}
}

@mixin placeholder($param__color)
{
	input[type="text"]:-moz-placeholder { color: $param__color } /* WebKit */
	input[type="text"]::-moz-placeholder { color: $param__color } /* WebKit */
	input[type="text"]:-ms-input-placeholder { color: $param__color } /* WebKit */
	input[type="text"]::-webkit-input-placeholder { color: $param__color } /* WebKit */

	input[type="password"]:-moz-placeholder { color: $param__color } /* WebKit */
	input[type="password"]::-moz-placeholder { color: $param__color } /* WebKit */
	input[type="password"]:-ms-input-placeholder { color: $param__color } /* WebKit */
	input[type="password"]::-webkit-input-placeholder { color: $param__color } /* WebKit */

	input[type="date"]:-moz-placeholder { color: $param__color } /* WebKit */
	input[type="date"]::-moz-placeholder { color: $param__color } /* WebKit */
	input[type="date"]:-ms-input-placeholder { color: $param__color } /* WebKit */
	input[type="date"]::-webkit-input-placeholder { color: $param__color } /* WebKit */


}

@mixin circle($back-color, $font-color)
{
	height: 68px;
	width: 80px;
	display: table-cell;
	text-align: center;
	font-size: 26px;
	vertical-align: middle;
	border-radius: 50%;
	color: $font-color;
	background: $back-color;
}
