.ui-autocomplete
{
  list-style: none;
  background-color: $color__background-body;
  color: $color__text-main;
  border: 1px solid #000000;
  width: 300px !important;
  padding: 3px 3px !important;
  height: 300px;
  overflow: scroll;

  li a
  {
    color: $color__text-main;
    cursor: pointer;
  }
}