.newsflash .novedad-item:first-child
{
	@media screen and (min-width: $screen-sm-min )
	{
		margin-right: 100px;
	}
}

.novedad-item
{
	display: block;
	margin: 2em 0px;

	div > .button-area
	{
		margin-top: 0;
	}
}

.novedad
{

	p
	{
		min-height: 30px;
		text-align: justify;
		margin: 10px 0px;
		width: 100%;
	}

	div > .avPlayerWrapper
	{
		.avPlayerContainer
		{
			width: 100% !important;
			height: auto;

			.avPlayerBlock
			{
				text-align: left !important;
				width: 100% !important;
				.jwplayer
				{
					width: 100% !important;
					height: 160px !important;
				}
			}
		}
	}
}


