/**
*
* Modulo para darle estilos al modulo de nuevos retos
* en el home
**/

#ultimos-retos
{
  width: 100%;
  min-height: 30em ;
  background-color: transparent;

  #gallery-full
  {
    max-height: 500px;
    overflow: hidden;
    figure
    {
      display: none;
      img
      {
        height: 250px;
        image-rendering: optimize-contrast;
      }
    }

    .active
    {
      display: block;
    }
  }

  #details
  {

    .item
    {
      height: 280px;
      padding: 10px 0px;
      margin-top: 40px;


      div>p
      {
        height: 100px;
        min-height: 30px;
        max-height: 100px;
        overflow: hidden;
        text-overflow: clip;
      }

      div>figure
      {
        margin-top: 10px;
      }



    }



    .item-text
    {
      margin-top: 24px;
      margin-bottom: 30px;
    }

    .item-type-1
    {
      .item-text
      {
        color: $color__text-contextual-primary;
      }
      background-color: $color__background-module-1;

    }

    .item-type-2
    {
      .item-text
      {
        color: $color__text-contextual-primary;
      }
      background-color: $color__background-module-2;
    }

    .item-type-3
    {
      .item-text
      {
        color: $color__text-contextual-primary;
      }
      background-color: $color__background-module-3;
    }

  }



}



/*** MEDIA ***/

#ultimos-retos {
  #gallery-full {
    figure {
      img {
        @media screen and (min-width: $screen-sm-min)
        {
          height: 493px;
          image-rendering: auto;
        }
      }
    }
  }

  #details
  {
    .item-type-1
    {
      @media screen and (min-width: $screen-sm-min)
      {
        margin-right: 12%;
      }
    }

    .item-type-2
    {
      @media screen and (min-width: $screen-sm-min)
      {
        margin-right: 12%;
      }
    }


  }

}