article
{
  margin : 10px 3px;
  header
  {
    margin-bottom: 5px;
    max-width: 100%;
    text-align: center;
  }
  section
  {
    div>p{color : $color__text-main;}

    p,
    strong,
    i
    { text-align: justify; }

    a, a:visited
    {
      color: $color__link;
      text-decoration: none;
    }
    a:hover
    {
      color: $color__link-hover
    }
  }
  footer
  {
   margin : 3px 2px;
  }
}

.item-page
{
  section
  {
    h
    h1,h2,h3
    {
      &:before
      {
        content: ">";
      }
    }
  }
}

.item-page .reto
{
  margin-top: 2em;

  .num-circle
  {
    @include circle($color-_primary, $color__text-contextual-primary);
  }

  .text-circle-footer
  {
    @extend .font-primary-normal;
    margin-top: 10px;
    font-size: $font__size-contextual;
  }
}

#page-reto
{
  header
  {
    .sub-info
    {
      @extend .font-primary-light;
      font-size: $font__size-small;
      display: inline;

      label
      {
        color: $color__primary;
      }
    }

    .resumen
    {
      text-align: center;
    }
  }
}

.article-historial
{
  margin: 6em 0;

}






