img
{
  width: 100%;
  height: auto;
  max-width: 100%;
  @include center-block();
}


.content_rating img
{
  width: 10px;
  margin: 0;
  padding: 0;
  display: inline;
}

.item-page .reto
{
  figure
  {
    img
    {
      width: 150px;
      height: 100px;
      image-rendering: optimizespeed;
    }
  }
}

#page-reto
{
  header
  {
   figure
   {
     img
     {
       width: auto !important;
       height: auto !important;
     }

   }
  }
}

.item-image
{
  img
  {
    width: auto;
    height: auto;
  }
}

.image-form
{
  img
  {
    width: 200px;
    height: auto;
    display: block;
    image-rendering: optimizespeed;
  }
}


.article-component
{
  img
  {
    width: auto;
    max-width: 20px;
    margin:0;
  }
}

.block-status
{
  img
  {
    display: inline;
  }
}
