
ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}


dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.anexos
{
  display: block;
  list-style: georgian;
  li
  {
    display: block;
  }
}
