table
{
	border: none;

	tr
	{
		td
		{
			border-right: 1px solid $color__border-table;
		}

		td:last-child
		{
			border-right: none;
		}

		td
		{
			padding: 0px 10px;
		}
	}
}

#box-table-a
{
	font-size: $font__size-small;
	max-width: 100%;
	overflow: hidden;
	tr td
	{
		max-width: 130px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
