.icon-48-areaintereses {
      background-image: url(../images/l_areaintereses.png);
      padding-left:60px!important;
}

.icon-48-areainteres {
      background-image: url(../images/l_areaintereses.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}