$color__primary : #ABC134;
$color__secondary : #869724;
$color__background-body: #F2F2F2;
$color__background-body-inverse: #f3f3f3;
$color__background-screen: #FFFFFF;
$color__background-pre: #000;
$color__background-footer: #A3B83A;
$color__background-module-1: #ABC134;
$color__background-module-2: #9db130;
$color__background-module-3: #98ac2f;
$color__background-hr: #98ac2f;
$color__background-button: #e6e6e6;
$color__background-button-secondary: #00AEF0;
$color__background-ins: #fff9c0;

$color__text-contextual-primary : #FFFFFF;
$color__text-contextual-secondary : #494949;
$color__text-title-secondary : #00AEF0;
$color__text-code: #32da40;
$color__text-input: #ffffff;
$color__text-input-focus: #9db131;
$color__text_footer: #FFFFFF;
$color__link: #ADC231;
$color__link-inverse: #FFFFFF;
$color__link-visited: #F9F9F8;
$color__link-hover: rgb(237, 231, 231);
$color__link-hover-inverse: #e7e8e4;
$color__link-hover-menu: #ABC134;
$color__text-main: #696969;

$color__border-button: #818c31;
$color__border-general: #869724;
$color__border-table: #696969;
$color-border-header: #ccc;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;