//noinspection CssUnknownTarget
$image__logo      : url("../images/logos/logo.png");
$icon__user       : url("../images/icons/btn-usuario.png");
$icon__pass       : url("../images/icons/btn-clave.png");
$icon__sesion     : url("../images/icons/btn-inicio-sesion.png");
$icon__user_15       : url("../images/icons/btn-usuario15.png");
$icon__pass_15       : url("../images/icons/btn-clave15.png");
$icon__sesion_15     : url("../images/icons/btn-inicio-sesion15.png");
$icon__act        : url("../images/icons/btn-actualidad.png");
$icon__readmore   : url("../images/icons/readmore.png");
$icon__readmore-2 : url("../images/icons/readmore-2.png");
$icon__reto-1     : url("../images/icons/reto-1.png");
$icon__reto-2     : url("../images/icons/reto-2.png");
$icon__reto-3     : url("../images/icons/reto-3.png");
$icon__break     : url("../images/icons/break.png");

$icon__contactenos    : url("../images/icons/btn-contactenos.png");
$image__nutresa       : url("../images/logos/logo-footer.png");