$font__code: serif;
$font__family_primary : 'Poppins', sans-serif;

$font__size-primary: 12px;
$font__size-contextual: 14px;
$font__size-small: 10px;
$font__size-pre: 12px;
$font__size-code: 12px;

$font__line-height-pre: 40px;
