body
{
  background-color: $color__background-screen;
  @extend .font-primary-normal;

  #top-header
  {
    background-color: $color__background-screen;
    overflow: hidden;
    height: auto;
  }

  #main-page
  {
    color: $color__text-main;
  }

  #home-page-1
  {
    color: $color__text-main;
    background-color: $color__background-body;
    min-height: 25em;


    #home-content-1
    {
      padding: 40px 0;
      border-bottom: 1px solid $color__background-hr;
    }
  }

  #home-page-2
  {
    color: $color__text-main;
    min-height: 25em;

    #home-content-2
    {
      margin-top: 1em;
    }
  }

  #main-footer
  {
    height: auto;
    @include center-block();
    font-size: $font__size-primary;
    background-color: $color__background-footer;
    color: $color__text_footer;

    .footer-content
    {
      .footer-1
      {
        margin-top: 15px;
      }

      .footer-2
      {
        margin-top: 31px;
      }

      .footer-content-element
      {
        ul {
          @include menu-footer();
        }

        .footer-content-element-menu
        {

          padding: 0px;
          .footer-content-element-menu-span
          {
            margin-left: 2em;
            @extend .span-align;
          }
        }
      }

    }

  }
}


/** ---------- Media --------*/
body
{
  #top-header
  {
    @media screen and (min-width: $screen-sm-min )
    {
      background-color: $color__background-screen;
      min-height: 5em;
      max-height: 20em;
      height: 15em;
    }

    @media screen and (min-width: $screen-sm-min ) {
      .row .logo {
        max-width: 100%;

        figure, img {
          width: 190px;
          height: 170px;
          margin: auto;
          background: $image__logo no-repeat;
        }
      }
    }

  }
}

.footer-content-element
{
  ul
  {
    li
    {
      @media screen and (min-width: $screen-sm-min )
      {
        //margin: 0 15px;
      }
    }
  }

  .footer-content-element-menu
  {
    @media screen and (min-width: $screen-sm-min )
    {
      text-align: right;
    }

    .footer-content-element-menu-span
    {
      @media screen and (min-width: $screen-sm-min )
      {
        margin-left: 5px !important;
      }

    }

  }
}

