*{
	margin:0px;
	padding:0px;
}
/*body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#333;
}*/
#form {
	padding:20px;
/*	width:100%;*/
/*        height:auto;*/
	margin:auto;
	border:1px solid #900;
}
#form legend {
	font-size:12px;
	font-weight:bold;
}
#form ol {
	list-style:none;
}
#form ol li{
	padding-bottom:10px;
}
#form label{
	width:250px;
	float:left;
}

#form button{
    font-size:14px;
    width:100px;
}

#form2 {
	padding:20px;
/*	width:800px;
        height:900px;*/
	margin:auto;
        background: #ededed;
}
#form2 legend {
	font-size:12px;
	font-weight:bold;
}
#form2 ol {
	list-style:none;
}
#form2 ol li{
	padding-bottom:10px;
}
#form2 label{
	width:100px;
	float:left;
}


.titulos{
    font-size:18px;
    font-weight:bold;
    color: #0E67A1;
}

.formFields {
    width: 100%;
}
.formFields tr:hover {
    background-color: #0E67A1;
    color: white;
}
.formFields tr fieldset tr:hover {
    background-color: #A9D0F5;
    color: white;
}

.botonEditar{
    margin-right: 8px; 
    border: 0; 
    width: 24px; 
    height: 22px; 
    background: url(../../images/icoEditar.png);
    text-align: right;
    float: right;
}

.botonEditar:hover{
    background: url(../../images/icoEditarOver.png);
}

.btnEliminar{
    margin-right: 8px; 
    border: 0; 
    width: 24px; 
    height: 22px; 
    background: url(../../images/icoEliminar.png);
    text-align: right;
    float: right;
    
}
.btnEliminar:hover{
    background: url(../../images/icoEliminarOver.png);
}
.btneliminarCampo{
/*    display: none;*/
    border: 0; 
    width: 24px; 
    height: 22px; 
    background: url(../../images/icoEliminar.png);
    
    
}

.btneliminarCampo:hover{
    background: url(../../images/icoEliminarOver.png);
}
.btnAgregarOpcion{
    background: url(../../images/icoAgregarOpcion.png);
    width: 89px; 
    height: 23px; 
}
.btnAgregarCampo{
    background: url(../../images/icoAgregarCampo.png);
    width: 89px; 
    height: 23px; 
}
.btnAgregar{
    background: url(../../images/icoAgregarOpcion.png);
    width: 89px; 
    height: 23px; 
}
.btnCancelar{
    background: url(../../images/icoCancelar.png);
    width: 89px; 
    height: 23px; 
}
.btnAceptar{
    background: url(../../images/icoAceptar.png);
    width: 89px; 
    height: 23px; 
}
.btnFinalizar{
    background: url(../../images/icoGuardar.png);
    width: 89px; 
    height: 23px; 
}
.btnGuardar{
    background: url(../../images/icoGuardar.png);
    width: 89px; 
    height: 23px; 
}
.btnEditar{
    background: url(../../images/icoEditar.png);
    width: 24px; 
    height: 23px; 
}

.lbl{
    width: 10px;
}