
p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre
{
	background-color: $color__background-pre;
	color: $color__text-code;
	font-size: $font__size-pre;
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	color: $color__text-code;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

.item-text
{
	text-align: center;
}

.font-primary-normal
{
	font-family: $font__family_primary;
	font-weight: 400;
}

.font-primary-light
{
	font-family: $font__family_primary;
	font-weight: 300;
}


.font-primary-medium
{
	font-family: $font__family_primary;
	font-weight: 500;
}

.item-page .item-page-header, #page-reto header .resumen, .article-component header
{
	h1::before
	{
		content: "> ";
	}
}
