h1
{
	font-size: 30px;
	color: $color__text-title-secondary;
}

h2, h3, h4, h5, h6
{
	font-weight: bold;
}

#main-content h1
 {
	 text-align: center;
	 margin-bottom: 20px;
 }


@media screen and (min-width: $screen-sm-min ) {

	#page-reto .sub-info
	{
		font-size: $font__size-primary !important;
		display: inline !important;
	}
}
