<div class="novedad">
    <div>{avsplayer player=1 video=1 autodetect=1}</div>
    <p>Descripcion de novedad</p>
</div>
    <hr id="system-readmore" />
<div>
    <p><strong>Reto Novaventa</strong></p>
    <p>Te invitamos a conocer el nuevo reto que trae Novaventa.</p>
    <p>{avsplayer player=1 video=1 autodetect=1}</p>
</div>