#retos-form, textarea, input[type="text"], input[type="select"], input[type="file"], label {
    font-size: 11px;
}



.form-inline {
    margin: 25px 0px;
}


#table-form input[type="button"]
{
    width: 90px;
}

#formulario .formFields input[type="button"]
{
    width: 24px;
}

#form, .table-form-content
{
    background-color: #EDEDED;
}

table tr .titulos
{
   height: 100px;
}

.bontones-win98 span
{
    margin: 10px 10px;
}

@media (min-width: 768px) {

  #retos-form .row-fluid .formula {
      margin-left: 4em;
  }

}
