#adminlist
{
    font-size: 11px !important;
}

#filter-bar .filter-search div > .inputbox
{
    height: auto !important;
    margin-bottom: 0px !important;
}
#filter-bar
{
    height: auto !important;
    margin-bottom: 2em;
}